
.card{
    border: 1px solid white;
    width: 25%;
    height: 30%;
    border: none;
    border-radius: 5px;
    background-color:white;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.5);
}

.close-btn{
    border-radius: 5px;
    border: none;
    background-color: rgb(156, 0, 0);
    color: white;
}

.card-title{
    text-decoration: none;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

.container-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.temp-min{
    margin-right: 10px;
}