.input {
    margin-left: auto;
    margin: 1rem;
}

.header {
    display: flex;
    
}
.container-header {
    
    width: 100%;
    display: flex;
    
    
}

.icon-github {
    height: 4rem;
    height: 4rem;
    padding: 2rem;
    cursor: pointer;
}

.icon-github:hover{
    color: rgb(208, 208, 208);
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 2rem;
    margin-left: auto;
    border: none;
    /* background-color: rgba(255, 255, 255, 0.855); */
    border-radius: 5px;
    
}


.submit {
    height: 35px;
    width: 10%;
    border-radius: 5px;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 12px;
    cursor: pointer;
    background-color: rgb(156, 0, 0);
    color: white;
    font-weight: 600;
    
    transition: 1.5s;
    outline: none;
}



.input {
    border-radius: 5px;
    border: none;
    height: 2rem;
    width: 70%;
    padding: 3px;
    padding-left: 8px;
    transition: 1s;
    background-color: white;
   
}

.input:focus , .input:hover {
    outline: none;
    box-shadow: 1px 2px 8px -1px #2D3047;
}

@media screen and (max-width: 700px) {
    .box {
        border-radius: 8px;
        width: 75%;
        height: 12vh;
        
    }    
    .input {
        height: 5vh;
        border-radius: 6px;
        width: 100%;
        
    }

    .submit {
        width: 25%;
        margin-right: 1rem;
        height: 6vh;
        border-radius: 6px;
    }
}

